*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.json linguist-detectable=true
*.json linguist-vendored=false
*.json linguist-generated=false
*.json linguist-documentation=false

*.editorconfig linguist-detectable=true
*.editorconfig linguist-vendored=false
*.editorconfig linguist-generated=false
*.editorconfig linguist-documentation=false
